---
import MainLayout from "@/layouts/MainLayout.astro";
import TestimonialCard from "@/components/TestimonialCard.astro";

import testimonials from "@/assets/testimonials.json";
---

<MainLayout title="Frontend Mentor | Testimonials Grid">
  <div class="mx-auto my-16 grid w-[330px] gap-6">
    {
      testimonials.map((testimonial) => (
        <TestimonialCard
          classes={testimonial.classes}
          avatar={`/src/assets/${testimonial.avatar}`}
          author={testimonial.author}
          status={testimonial.status}
          synopsis={testimonial.synopsis}
          review={`“ ${testimonial.review} ”`}
        />
      ))
    }
  </div>
</MainLayout>
