---
import Image from "astro/components/Image.astro";

interface Props {
  classes: string;
  avatar: string;
  author: string;
  status: string;
  synopsis: string;
  review: string;
}
const { classes, avatar, author, status, synopsis, review } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>("@/assets/*.jpg");
if (!images[avatar])
  throw new Error(`"${avatar}" does not exist in glob: "@/assets/*.jpg}"`);
---

<!-- Account for Tailwind CSS issue where color classes are not compiled when dynamically appended from JSON file--><!-- <div class="hidden bg-primaryModerateViolet text-primaryWhite"></div>
<div class="hidden bg-primaryVeryDarkGrayishBlue text-secondaryLightGray"></div>
<div class="hidden bg-primaryVeryDarkBlackishBlue text-secondaryGrayishBlue">
</div>
<div class="hidden bg-primaryWhite text-secondaryLightGray"></div>
<div class="hidden bg-primaryWhite text-secondaryGrayishBlue"></div> --><!-- -->
<article class:list={[classes, "rounded-lg px-[36px] py-7"]}>
  <div class="mb-4 flex items-center">
    <Image
      src={images[avatar]()}
      alt={author}
      width="30"
      class="mr-4 rounded-full shadow-inner"
    />
    <div>
      <h2>{author}</h2>
      <p class="text-[11px] text-secondaryLightGray">{status}</p>
    </div>
  </div>

  <p class="mb-4 text-xl leading-tight">{synopsis}</p>
  <p class="text-xs leading-normal text-secondaryLightGray">{review}</p>
</article>
