---
import Image from "astro/components/Image.astro";

interface Props {
  classes: string;
  avatar: string;
  author: string;
  status: string;
  synopsis: string;
  review: string;
}
const { classes, avatar, author, status, synopsis, review } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>("@/assets/*.jpg");
if (!images[avatar])
  throw new Error(`"${avatar}" does not exist in glob: "@/assets/*.jpg}"`);
---

<article class:list={[classes, "rounded-lg px-[36px] py-7"]}>
  <div class="mb-4 flex items-center">
    <Image
      src={images[avatar]()}
      alt={author}
      width="30"
      class="mr-4 rounded-full outline outline-1"
    />
    <div>
      <h2>{author}</h2>
      <p class="text-[11px] opacity-50">{status}</p>
    </div>
  </div>

  <p class="mb-4 text-xl leading-tight">{synopsis}</p>
  <p class="text-xs leading-normal opacity-70">{review}</p>
</article>
